.content-area {
  main {
    padding: 1rem 2rem 1rem 2rem;
    width: min(100%, max(60vw, 50rem));
    margin: 0% auto;
    background-color: $dark-2;
    box-shadow: 0px 10px 10px darken($dark-1, 5%);

    article {
      p {
        line-height: 1.4rem;
        margin: 1rem 0rem;
        text-align: justify;
      }

      h2 {
        margin: 3rem 0rem 2rem 0rem;
        font-size: 1.6rem;
      }
    }
  }
}

.about {
  h1,
  h2 {
    font-family: $font-title;
  }

  .content-title {
    h1 {
      font-size: 6rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .content-area {
    main {
      article {
        p {
          margin: 0.5rem 0rem;
        }
      }
    }
  }
}
