.content-area {
  height: 100%;

  .math {
    margin: 1rem 0rem;
  }

  .katex {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.11em;
    overflow-x: auto;
    overflow-y: hidden;
  }

  main {
    height: 100%;
    padding: $space-2 $space-4;
    width: min(100%, max(60vw, 100ch));
    margin: 0% auto;
    background-color: $dark-2;
    box-shadow: 0px 5px 10px darken($dark-1, 5%);
    font-size: var(--font-size-text);
    article {
      p {
        line-height: $space-4;
        margin: $em-space-3 0rem;
        text-align: justify;
      }

      h2 {
        margin: $em-space-3 0rem $em-space-3 0rem;
        font-size: var(--font-size-lg);
      }
    }
  }
}

.about {
  height: 100%;
  h1,
  h2 {
    font-family: $font-title;
  }

  .content-title {
    h1 {
      font-size: var(--font-size-page-title);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .content-area {
    .katex {
      font-size: 1.05em;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .content-area {
    .katex {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .content-area {
    .katex {
      font-size: 0.95em;
    }
  }
}
