.post {
  hr {
    border-color: $color-primary;
  }

  .content-area {
    .content-title {
      display: block;
      h1 {
        text-align: center;
        margin-bottom: 1rem;
      }
      margin-bottom: 1rem;
    }

    .post-summary {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0rem 1rem;
      margin: 0rem 1rem;
      margin-bottom: 2rem;
      .date {
        align-items: center;
        display: flex;
        p {
          margin: 0rem 0.5rem;
        }
      }
      .categories {
        align-items: center;
        display: flex;
        p {
          margin: 0rem 0.5rem;
        }
      }
    }
    .post-content {
      h1,
      h2 {
        font-family: $font-title;
      }

      margin-top: 3rem;
      img {
        margin: 1rem 0rem;
        width: 100%;
        object-fit: cover;
      }

      iframe.youtube {
        margin: 1rem 0rem;
        width: 100%;
      }
    }

    a.footnote-ref {
      color: $color-primary;
    }

    .footnotes {
      ol,
      ul {
        margin-top: 1rem;
      }
    }
  }
}
