.content-title {
  margin: $space-6 0rem;
  display: flex;
  align-items: center;
  h1 {
    font-size: var(--font-size-post-title);
    margin-right: $space-4;
  }
  .header-line {
    height: 2px;
    width: 100%;
    background-color: $color-primary;
  }
}

@media screen and (max-width: 550px) {
  .content-title {
    display: block;
  }
}
