.content-title {
  margin: 3rem 0rem;
  display: flex;
  align-items: center;
  h1 {
    font-size: 5rem;
    margin-right: 2rem;
  }
  .header-line {
    height: 2px;
    width: 100%;
    background-color: $color-primary;
  }
}

@media screen and (max-width: 550px) {
  .content-title {
    display: block;
  }
}
