/*
----------
  Colors
----------
*/

$color-primary: #f28416;
$color-primary-light: #fbc58f;
$color-secondary: #f0a822;
$color-secondary-light: #edc273;
$color-third: #ebc338;
$color-third-light: #ecda9d;

$dark-1: #201e1d;
$dark-2: #232626;
$dark-1-light: #56504e;
$dark-2-light: #868f85;

$color-text-light: white;
$color-text-dark: $dark-1;

$background-color-1: $dark-1;
$background-color-2: $dark-2;

/*
--------
  Fonts
---------
*/

$font-body: "Assistant", "Arial", "monospace";
$font-title: "Spartan", "Helvetica", "sans-serif";
