* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "variables";

body {
  background-color: $background-color-1;
  color: $color-text-light;
  font-family: $font-body;
}

li {
  list-style: none;
}

a {
  color: $color-text-light;
  text-decoration: none;
}

h1 {
  font-family: $font-title;
}

@import "nav";
@import "page";

.blog-home-hero {
  min-height: 40;
  max-width: 70%;
  padding: 5rem 15rem 5rem 15rem;
  margin: auto;

  h1 {
    font-family: $font-title;
    font-size: 4rem;
    padding: 1rem 0rem;
    text-align: justify;
  }

  h3 {
    color: lighten($color-primary, 10%);
    font-style: italic;
  }
}

.blog-home .measure {
  display: inline-block;
  background-color: coral;
  width: 100%;
  padding: 4rem;
}

.post-list {
  margin: 0 auto;
  max-width: 50%;
  margin-bottom: 2rem;
}

.post-card {
  margin: 2rem auto;
  background-color: $dark-1;
  max-width: 80%;
  padding: 1rem;
  transition: 0.3s ease;
  &:hover {
    background-color: $dark-2;
    transform: scale(1.02);
  }

  p {
    margin: 1rem 0rem 0rem 0rem;
  }

  .card-header {
    display: flex;
    align-items: center;
    h2 {
      width: 30rem;
      white-space: nowrap;
      margin-bottom: 0.8rem;
      margin-right: 1rem;
    }
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: relative;
      background-color: $color-primary;
    }
  }

  .card-date {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding-left: 0.7rem;
    }
  }

  .card-categories {
    display: flex;
    align-items: center;
    h4 {
      margin-left: 0.5rem;
    }
  }
}
