.dots {
  display: inline;
}

.dot-1-color {
  color: lighten($color-primary, 30%);
}
.dot-2-color {
  color: lighten($color-primary, 20%);
}
.dot-3-color {
  color: lighten($color-primary, 10%);
}

.secondary-light-color {
  color: lighten($color-secondary, 2%);
}
.primary-light-color {
  color: lighten($color-primary-light, 2%);
}

.primary-color {
  color: lighten($color-primary, 10%);
}

.blog-home {
  .hero {
    .content-title {
      width: 100%;
      margin-top: $space-10;
      h1 {
        display: block;
        margin: $rem-space-4 $em-space-2;
        max-width: 100%;
        width: 10ch;
        font-family: $font-title;
        text-align: left;
        font-size: calc(var(--font-size-4xl));
      }
    }

    h3 {
      color: lighten($color-primary, 10%);
      font-style: italic;
    }
  }

  .content-area {
    main {
      padding: $space-2 $space-6;
      background-color: $dark-1;
      box-shadow: none;
      width: min(100%, max(min(75vw, 210ch), 130ch));
      margin: 0% auto;
    }
  }

  .post-list {
    font-size: var(--font-size-text);
    margin: 0 auto;
    margin-top: $space-10;
    li {
      list-style: none;
    }
    width: 100%;
    margin-bottom: $space-4;
  }

  .post-card {
    margin: $space-8 auto;
    background-color: $dark-1;
    max-width: min(100%, max(80%, #{$breakpoint-sm}));
    padding: $space-2;
    transition: all 0.3s ease;
    border-radius: 5px;
    &:hover {
      background-color: $dark-2;
      transform: scale(1.02);
    }

    p {
      margin-top: $space-2;
    }

    .card-header {
      display: flex;
      align-items: center;
      .content-title {
        margin: 0;
        width: 100%;
        h1 {
          font-family: $font-body;
          font-size: var(--font-size-lg);
          white-space: nowrap;
          margin-bottom: $space-2 * 0.8;
          margin-right: $space-2;
        }
      }
    }

    .card-date {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        padding-left: 0.7 * $space-2;
      }
    }

    .card-categories {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        line-height: 14px;
        margin-left: $space-1;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .blog-home {
    .hero {
      .content-title {
        h1 {
          padding: $em-space-1 0em;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .blog-home {
    .header-line {
      height: 1.5px;
    }

    .hero {
      .content-title {
        h1 {
          text-align: center;
          padding-left: $em-space-1;
          padding-right: $em-space-1;
        }
      }
    }
    .content-area {
      main {
        padding: $space-2 $space-4;
      }
    }

    .post-card {
      margin: $space-2 auto;
      p {
        margin-top: $space-1;
      }
      .card-header {
        .content-title {
          h1 {
            margin-right: 0;
            margin-bottom: 0.5 * $space-1;
          }
        }
      }
      .card-date {
        margin-top: $space-1;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .blog-home {
    .header-line {
      height: 1px;
    }
    .content-area {
      main {
        padding: $space-2 $space-3;
      }
    }
  }
}
