nav {
  position: relative;
  z-index: 2;
  display: flex;
  background-color: transparent;
  width: 100%;
  padding: $space-2 $rem-space-8;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 2px darken($dark-1, 5%);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $dark-2;
  font-size: calc(var(--font-size-sm) * 1.05);
  ul {
    display: flex;
    li {
      list-style: none;
    }
  }

  .links {
    li {
      padding-left: $space-1;
      padding-right: $space-4;
      a {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: max(0.1em, 1px);
          transform: scaleX(0);
          visibility: hidden;
          background-color: $color-primary;
          transition: all 0.3s ease-out;
        }
        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
  .social-media {
    display: flex;
    li {
      padding: 0rem $space-1;
    }
    svg {
      transition: 0.35s ease-out;
      &:hover {
        color: lighten($color-primary, 5%);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  nav {
    padding: $space-2 $em-space-4;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  nav {
    padding: $space-2 $em-space-3;
  }
}
