.content-area {
  height: 100%;

  .math {
    margin: 1rem 0rem;
  }

  .katex {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.11em;
    overflow-x: auto;
    overflow-y: hidden;
  }

  main {
    height: 100%;
    padding: $space-2 $space-4;
    width: min(100%, max(50vw, 100ch));
    margin: 0% auto;
    background-color: $dark-2;
    box-shadow: 0px 5px 10px darken($dark-1, 5%);
    font-size: var(--font-size-text);
    color: lighten($dark-2, 75%);

    strong {
      color: white;
    }

    h1,
    h2,
    h3 {
      font-family: $font-title;
      color: white;
    }
    article {
      margin: 0 1rem;

      p {
        line-height: $em-space-3;
        margin: $em-space-3 0rem;
      }

      h2 {
        margin: $em-space-3 0rem $em-space-1 0rem;
        font-size: calc(var(--font-size-lg) * 1.3);
      }

      h3 {
        margin: $em-space-3 0rem $em-space-1 0rem;
        font-size: var(--font-size-lg);
      }

      a:not(.footnote-ref):not(.footnote-backref) {
        position: relative;
        color: lighten($color-primary, 5%);
        display: inline-block;
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 0ch;
          height: max(0.1em, 1px);
          background-color: $color-primary;
          transition: all 350ms ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.about {
  height: 100%;

  .content-title {
    h1 {
      font-size: var(--font-size-page-title);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .content-area {
    .katex {
      font-size: 1.05em;
    }

    main {
      width: 100%;
    }
  }
}
