.post {
  hr {
    border-color: $color-primary;
  }

  .content-area {
    .content-title {
      display: block;
      h1 {
        text-align: center;
        margin: 1em 0 $rem-space-2 0;
      }
      margin-bottom: $rem-space-3;
    }

    main {
      article {
        h1 > a:not(.footnote-ref):not(.footnote-backref),
        h2 > a:not(.footnote-ref):not(.footnote-backref),
        h3 > a:not(.footnote-ref):not(.footnote-backref),
        h4 > a:not(.footnote-ref):not(.footnote-backref) {
          color: white;
          background-color: transparent;
          &::after {
            content: "#";
            font-size: min(30px, 1em);
            color: $color-primary;
            position: relative;
            height: 0;
            background-color: transparent;
            margin-left: 0.2em;
            opacity: 0;
            transition: all 200ms ease;
          }

          &:hover::after {
            opacity: 1;
          }
        }
      }
    }

    .post-summary {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0rem $space-2;
      margin: 0rem $space-2;
      margin-bottom: $space-4;
      font-size: var(--font-size-sm);
      .date {
        align-items: center;
        display: flex;
        p {
          margin: 0rem $space-1;
        }
      }
      .categories {
        align-items: center;
        display: flex;
        p {
          margin: 0rem $space-1;
        }
      }
    }
    .post-content {
      margin-top: $space-5 * 2;

      p {
        text-align: justify;
      }

      img {
        margin: $space-2 0rem;
        width: 100%;
        object-fit: cover;
      }

      iframe.youtube {
        margin: $space-2 0rem;
        width: 100%;
      }
    }

    a.footnote-ref,
    a.footnote-backref {
      color: $color-primary;
    }

    .footnotes {
      ol,
      ul {
        margin-top: $space-2;
      }
    }
  }
}
