.post {
  hr {
    border-color: $color-primary;
  }

  .content-area {
    .content-title {
      display: block;
      h1 {
        text-align: center;
        margin: 1em 0 $rem-space-2 0;
      }
      margin-bottom: $rem-space-3;
    }

    .post-summary {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0rem $space-2;
      margin: 0rem $space-2;
      margin-bottom: $space-4;
      font-size: var(--font-size-sm);
      .date {
        align-items: center;
        display: flex;
        p {
          margin: 0rem $space-1;
        }
      }
      .categories {
        align-items: center;
        display: flex;
        p {
          margin: 0rem $space-1;
        }
      }
    }
    .post-content {
      margin-top: $space-5 * 2;

      h1,
      h2,
      h3,
      h4 {
        & > a:not(.footnote-ref):not(.footnote-backref) {
          font-size: min(30px, 1em);
          color: $color-primary;
          position: relative;
          background-color: transparent;
          opacity: 0;
          transition: all 200ms ease;

          &::after {
            height: 0;
          }

          &:hover {
            opacity: 1;
          }
        }

        &:hover > a:not(.footnote-ref):not(.footnote-backref) {
          opacity: 1;
        }
      }

      p {
        text-align: justify;
      }

      img {
        margin: $space-2 0rem;
        width: 100%;
        object-fit: cover;
      }

      iframe.youtube {
        margin: $space-2 0rem;
        width: 100%;
      }
    }

    a.footnote-ref,
    a.footnote-backref {
      color: $color-primary;
    }

    .footnotes {
      ol,
      ul {
        margin-top: $space-2;
      }
    }
  }
}
