#cv-link {
  text-align: center;
  background-color: $color-primary;
  margin: $rem-space-6 auto $rem-space-4 auto;
  border-radius: 30px;
  width: 20ch;
  height: 5ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  a {
    padding: 1.5rem 2.5rem;
  }

  @media screen and (max-width: $breakpoint-md) {
    margin: 2ch auto;
  }

  @media screen and (max-width: $breakpoint-sm) {
    width: 20ch;
  }
}

a.decorated {
  position: relative;
  color: lighten($color-primary, 5%);
  display: inline-block;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0ch;
    height: max(0.1em, 1px);
    background-color: $color-primary;
    transition: all 350ms ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

/*
----------
   Hero
----------
*/

.professional .prof-hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
  }

  #hero-intro {
    font-size: var(--font-size-2xl);
    font-family: "Spartan";
    align-self: end;
  }

  #hero-desc {
    font-size: var(--font-size-md);
    margin-top: $em-space-1;
  }

  --image-size: max(150px, min(22vw, 200px));

  img {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
    height: calc(var(--image-size) * 1.0);
    width: calc(var(--image-size) * 0.94); // almost a circle
    transform: translateY(25%);
  }

  @media screen and (max-width: $breakpoint-lg) {
    img {
      align-self: end;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    .content {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    img {
      align-self: end;
    }

    #hero-intro {
      grid-row-start: 1;
      grid-row-end: 1;
    }

    #hero-desc {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    .content {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr 2fr;
      margin: auto;
    }

    min-height: max(300px, min(50vh, 350px));

    #hero-intro {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;
      align-self: end;
    }

    #hero-desc {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 3;
      grid-row-end: 3;
      align-self: top;
      text-align: justify;
      font-size: var(--font-size-sm);
    }

    img {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
      align-self: center;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    #hero-desc {
      font-size: var(--font-size-xs);
    }
  }
}

/*
-----------------
  Main selectors
-----------------
*/

.professional {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: var(--font-size-sm);

  p,
  li {
    line-height: 1.4em;
  }

  .hidden-nav {
    display: none;
    font-family: "Lato", "Helvetica", sans-serif;
  }

  nav {
    font-family: "Lato", "Helvetica", sans-serif;

    ul {
      align-items: center;
    }

    .burger {
      div {
        width: 0px;
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    nav {
      font-size: var(--font-size-sm);

      .links {
        li {
          display: none;
        }
      }

      .burger {
        div {
          width: 2rem;
        }
      }
    }

    .hidden-nav {
      display: block;
      position: relative;
      background-color: whitesmoke;
      z-index: 0;
      transition: height 0.3s linear;
      overflow: hidden;
      height: 3em;

      ul {
        display: flex;
        height: 100%;
        align-items: center;

        li {
          a {
            color: black;
            transition: color 0.25s linear;

            &:hover {
              color: $color-primary;
            }
          }

          align-items: center;
          list-style: none;
          padding: 0.5rem 1em;
        }
      }

      &.hidden {
        height: 0;
      }
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    nav {
      font-size: var(--font-size-xs);
    }
  }
}

/*
------------
  Sections
------------
*/

.professional .prof-section-title {
  h2 {
    font-family: "Spartan", "Helvetica", sans-serif;
    font-size: var(--font-size-2xl);
    margin-bottom: 1em;
    text-align: center;
  }

  padding: 1ch 0;
}

.prof-sections {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.prof-section {
  width: 100%;
  padding: $rem-space-8 $rem-space-10;

  &:nth-child(even) {
    background-color: darken($dark-2, 5);
  }

  &:nth-child(odd) {
    background-color: darken($dark-2, 0);
  }
}

.content {
  max-width: $breakpoint-lg * 1.2;
  margin: 0 auto;
  min-height: 100%;
}

// $color-primary-lighter: lighten($color-primary, 5%);
$color-primary-lighter: darken($color-primary, 5%);

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  // border-width: 5px;
  // border-style: solid;
  // border-color: yellow;

  &:has(.proj-card:hover) {
    .proj-card:not(:hover) {
      opacity: 0.5;
    }
  }

  .proj1::before {
    content: "";
    position: absolute;
    background-image: url("/images/file-system.jpg");
    background-size: cover;
    background-position: center;
    inset: 0;
    opacity: 0.10;
    z-index: -1;
  }

  .proj2::before {
    content: "";
    position: absolute;
    background-image: url("/images/dashboard.jpeg");
    background-size: cover;
    background-position: center;
    inset: 0;
    opacity: 0.10;
    z-index: -1;
  }

  .proj3::before {
    content: "";
    position: absolute;
    background-image: url("/images/api.jpg");
    background-size: cover;
    background-position: center;
    inset: 0;
    opacity: 0.10;
    z-index: -1;
  }

  .proj4::before {
    content: "";
    position: absolute;
    background-image: url("/images/ui.jpeg");
    background-size: cover;
    background-position: center;
    inset: 0;
    opacity: 0.10;
    z-index: -1;
  }


  .proj5::before {
    content: "";
    position: absolute;
    background-image: url("/images/ml.jpeg");
    background-size: cover;
    background-position: center;
    inset: 0;
    opacity: 0.10;
    z-index: -1;
  }


  .proj6::before {
    content: "";
    position: absolute;
    background-image: url("/images/ml-noir.jpg");
    background-size: cover;
    background-position: center;
    inset: 0;
    opacity: 0.10;
    z-index: -1;
  }

  .proj1,
  .proj2,
  .proj3,
  .proj4,
  .proj5,
  .proj6 {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .proj-card {
    margin: 1em 1em;
    min-width: 5em;
    max-width: 25em;
    min-height: 10em;
    max-height: 25em;
    height: 85%;
    width: 90%;
    border-color: $color-text-light;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 0.8em;
    box-shadow: 0 0 1.5em $dark-3;
    cursor: pointer;
    z-index: 0;


    div {
      text-align: center;
    }

    p {
      color: $color-text-light;
      text-align: justify;
      font-size: var(--font-size-xs);
    }

    h2 {
      transition: text-decoration-color 250ms ease-in-out;
      transition: text-decoration-thickness 250ms ease-in-out;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: max(0.1em, 1px);
        transform: scaleX(0);
        visibility: hidden;
        background-color: $color-primary;
        transition: all 0.3s ease-out;
      }

    }

    &:hover {
      h2 {

        &::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }

      transform: scale(1.1);
    }

    transition: all 250ms ease-in-out;
  }

  h2.proj-title {
    font-size: var(--font-size-md);
    font-weight: bold;
    text-align: center;
    color: $color-text-light;
    text-decoration: none;
    text-decoration-thickness: 0.0px;
    margin: 0.5em auto 1.2em auto;
    position: relative;
    display: inline-block;
  }

}

@media (hover: none) {
  .projects {
    .proj-card {
      h2.proj-title {
        text-decoration-color: $color-primary;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .prof-section {
    padding: $rem-space-8 $rem-space-10;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .prof-section {
    padding: $rem-space-8 $rem-space-8;
    height: 100%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .prof-section {
    padding: $rem-space-4 $rem-space-6;
    height: 100%;

    h2 {
      margin-top: 0.5em;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;

    .proj-card {
      margin: 1em auto;
    }
  }
}

/*
----------
  Skills
----------
*/

.professional .prof-skills {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);

  .skills {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;

    h4 {
      text-align: center;
      margin-bottom: $em-space-2;
      font-size: var(--font-size-md);
      font-weight: bold;
    }

    .skill {
      padding: $rem-space-5 $rem-space-4;
      display: flex;
      flex-direction: column;
      text-align: justify;
      max-width: min(calc(100% / 3), 36ch);

      // margin: 0 auto;
      .icon {
        margin: auto;
        padding-bottom: 2ch;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: $rem-space-6 $rem-space-6;

    .skills {
      align-items: center;
      justify-items: center;
      flex-direction: column;

      h4 {
        margin-bottom: $em-space-2;
      }

      .skill {
        padding: $rem-space-5 $rem-space-3;
        max-width: min(80%, 35ch);
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: $rem-space-4 $rem-space-3;

    .skills {
      .skill {
        padding-left: $rem-space-2;
        padding-right: $rem-space-2;
      }
    }
  }
}

/*
---------
  About
---------
*/

.professional .prof-about {
  display: flex;
  flex-direction: column;

  .prof-section-title {
    h2 {
      margin-bottom: 0.5em;
    }
  }

  blockquote {
    border-left: 4px solid $color-primary;
    padding: 2em 4rem;
    margin: 3em 0;
    position: relative;
    font-family: Spartan, Monteserrat, Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: $dark-2;
    font-size: var(--font-size-md);

    &::before {
      font-family: Arial;
      content: "\201C";
      color: $color-primary;
      font-size: 4em;
      position: absolute;
      left: 1rem;
      top: -0.6rem;
    }

    &::after {
      font-family: Arial;
      content: "\201D";
      color: $color-primary;
      font-size: 4em;
      position: absolute;
      right: 1.5rem;
      bottom: -3rem;
    }
  }

  .content {
    padding: 0 4rem;
    margin: auto;
    height: 100%;

    p {
      margin: 2rem 0;
      text-align: justify;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: 4rem 2.5rem;

    blockquote {
      margin: 2.5em 0;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    padding: 2rem 1rem;

    .content {
      p {
        font-size: var(--font-size-xs);
      }

      blockquote {
        font-size: var(--font-size-sm);
        word-spacing: 0.2em;
        // margin: 2.5em 0;
      }
    }
  }
}
