#cv-link {
  text-align: center;
  background-color: $color-primary;
  margin: $rem-space-6 auto $rem-space-4 auto;
  border-radius: 30px;
  width: 20ch;
  height: 5ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }

  a {
    padding: 1.5rem 2.5rem;
  }
}

.professional {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: var(--font-size-sm);
  p,
  li {
    line-height: 1.4em;
  }

  .hidden-nav {
    display: none;
  }

  .prof-section-title {
    h2 {
      font-family: "Spartan", "Helvetica", sans-serif;
      font-size: var(--font-size-2xl);
      margin-bottom: 1em;
      text-align: center;
    }
    padding: 1ch 0;
  }

  nav {
    ul {
      align-items: center;
    }
    .burger {
      div {
        width: 0px;
      }
    }
  }

  .prof-sections {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .prof-section {
    --section-height: max(450px, min(75vh, 600px));
    min-height: var(--section-height);
    height: var(--section-height);
    width: 100%;
    padding: $rem-space-8 $rem-space-10;

    &:nth-child(even) {
      background-color: darken($dark-2, 5);
    }
    &:nth-child(odd) {
      background-color: darken($dark-2, 0);
    }
  }

  .content {
    max-width: $breakpoint-lg * 1.2;
    height: var(--section-height);
    margin: 0 auto;
    min-height: 100%;
  }

  .prof-hero {
    // background-color: $dark-2;
    .content {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-self: center;
      align-self: center;
    }

    #hero-intro {
      font-size: var(--font-size-2xl);
      font-family: "Spartan";
      align-self: end;
    }

    #hero-desc {
      font-size: var(--font-size-md);
      margin-top: $em-space-1;
    }

    --image-size: max(150px, min(22vw, 200px));

    img {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 2;
      justify-self: center;
      align-self: center;
      object-fit: cover;
      border-radius: 50%;
      height: var(--image-size);
      width: var(--image-size);
      transform: translateY(25%);
    }
    // }
  }
}

.professional {
  .prof-skills {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-xs);
    // background-color: lighten($color: $dark-1, $amount: 2);
    height: 100%;
    .content {
      height: 100%;
      min-height: var(--section-height);
    }
    .skills {
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: flex-start;

      h4 {
        text-align: center;
        margin-bottom: $em-space-2;
        font-size: var(--font-size-md);
        font-weight: bold;
        // color: $color-primary;
      }

      .skill {
        padding: $rem-space-5 $rem-space-4;
        display: flex;
        flex-direction: column;
        text-align: justify;
        max-width: min(calc(100% / 3), 36ch);
        // margin: 0 auto;
        .icon {
          margin: auto;
          padding-bottom: 2ch;
        }
      }
    }
  }
}

.professional {
  .prof-about {
    // background-color: darken($color: $dark-2, $amount: 5);
    display: flex;
    flex-direction: column;
    height: 100%;

    .prof-section-title {
      h2 {
        margin-bottom: 0.5em;
      }
    }

    blockquote {
      border-left: 4px solid $color-primary;
      padding: 2em 4rem;
      margin: 3em 0;
      position: relative;
      font-family: Spartan, Monteserrat, Arial, Helvetica, sans-serif;
      font-style: italic;
      background-color: $dark-2;
      font-size: var(--font-size-md);
      &::before {
        font-family: Arial;
        content: "\201C";
        color: $color-primary;
        font-size: 4em;
        position: absolute;
        left: 1rem;
        top: -0.6rem;
      }
      &::after {
        font-family: Arial;
        content: "\201D";
        color: $color-primary;
        font-size: 4em;
        position: absolute;
        right: 1.5rem;
        bottom: -3rem;
      }
    }

    .content {
      padding: 0 4rem;
      margin: auto;
      height: 100%;
      p {
        margin: 2rem 0;
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .professional {
    .prof-section {
      padding: $rem-space-8 $rem-space-10;
    }

    .prof-hero {
      img {
        align-self: end;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  #cv-link {
    margin: 2ch auto;
  }

  #hero-intro {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #hero-desc {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .professional {
    .prof-section {
      padding: $rem-space-8 $rem-space-8;
      height: 100%;
    }

    .prof-hero {
      .content {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
      }

      img {
        align-self: end;
      }
    }

    .prof-skills {
      padding: $rem-space-6 $rem-space-6;
      .skills {
        align-items: center;
        justify-items: center;
        flex-direction: column;
        h4 {
          margin-bottom: $em-space-2;
        }
        .skill {
          padding: $rem-space-5 $rem-space-3;
          max-width: min(80%, 35ch);
        }
      }
    }
  }

  .professional {
    .prof-about {
      padding: 4rem 2.5rem;
      blockquote {
        margin: 2em 0;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  #cv-link {
    width: 17ch;
  }
  .professional {
    nav {
      font-size: var(--font-size-sm);
      .links {
        li {
          display: none;
        }
      }

      .burger {
        div {
          width: 2rem;
        }
      }
    }

    .hidden-nav {
      display: block;
      position: relative;
      background-color: whitesmoke;
      z-index: 0;
      transition: height 0.3s linear;
      overflow: hidden;
      height: 3em;
      ul {
        display: flex;
        height: 100%;
        align-items: center;
        li {
          a {
            color: black;
            transition: color 0.25s linear;
            &:hover {
              color: $color-primary;
            }
          }
          align-items: center;
          list-style: none;
          padding: 0.5rem 1em;
        }
      }

      &.hidden {
        height: 0;
      }
    }

    .prof-hero {
      .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
      min-height: max(300px, min(50vh, 350px));

      #hero-intro {
        align-self: end;
      }
      #hero-desc {
        align-self: top;
        text-align: justify;
        font-size: var(--font-size-sm);
      }

      img {
        width: 0;
        height: 0;
      }
    }

    .prof-section {
      padding: $rem-space-4 $rem-space-6;
      min-height: 50vh;
      height: 100%;
      h2 {
        margin-top: 0.5em;
      }
    }

    .prof-skills {
      padding: $rem-space-4 $rem-space-3;
      .skills {
        .skill {
          padding-left: $rem-space-2;
          padding-right: $rem-space-2;
        }
      }
    }
  }

  .professional {
    .prof-about {
      padding: 2rem 1rem;
      .content {
        p {
          font-size: var(--font-size-xs);
        }

        blockquote {
          font-size: var(--font-size-sm);
          word-spacing: 0.2em;
          margin: 1em 0;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .professional {
    nav {
      font-size: vaR(--font-size-xs);
    }

    .prof-hero {
      #hero-desc {
        font-size: var(--font-size-xs);
      }
    }
  }
}
