/*
----------
  Colors
----------
*/

$color-primary: #eb792d;
$color-primary-light: #fbc58f;
$color-secondary: #00959e;
$color-secondary-light: #2de0eb;
$color-third: #ebc338;
$color-third-light: #ecda9d;

$dark-1: #201e1d;
$dark-2: #232426;
$dark-3: #232626;
$dark-1-light: #56504e;
$dark-2-light: #868f85;

$color-text-light: white;
$color-text-dark: $dark-1;

/*
--------
  Fonts
---------
*/

$font-body: "Assistant", "Arial", "monospace";
$font-title: "Spartan", "Helvetica", "sans-serif";

$base-size: 1.41421356;
$base-size-slow: 1.259921;
$base-size-half: 1.1;

:root {
  font-size: 62.5%;
  --ratio: #{$base-size};
  --font-size-xs: calc(var(--font-size-sm) / #{$base-size-half});
  --font-size-sm: calc(var(--font-size-md) / #{$base-size-half});
  --font-size-md: 1.7rem;
  --font-size-lg: calc(var(--font-size-md) * var(--ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--ratio));
  --font-size-2xl: calc(var(--font-size-xl) * var(--ratio));
  --font-size-3xl: calc(var(--font-size-2xl) * var(--ratio));
  --font-size-4xl: calc(var(--font-size-3xl) * var(--ratio));
  --font-size-text: var(--font-size-md);
  --font-size-post-title: var(--font-size-3xl);
  --font-size-post-header: var(--font-size-xl);
  --font-size-page-title: var(--font-size-4xl);
}

/*
-----------
  Spacing
-----------
*/

$rem-space-1: 0.5rem;
$rem-space-2: 1rem;
$rem-space-3: 1.5rem;
$rem-space-4: 2rem;
$rem-space-5: 2.5rem;
$rem-space-6: 3rem;
$rem-space-7: 3.5rem;
$rem-space-8: 4rem;
$rem-space-9: 4.5rem;
$rem-space-10: 5rem;

$space-1: $rem-space-1;
$space-2: $rem-space-2;
$space-3: $rem-space-3;
$space-4: $rem-space-4;
$space-5: $rem-space-5;
$space-6: $rem-space-6;
$space-7: $rem-space-7;
$space-8: $rem-space-8;
$space-9: $rem-space-9;
$space-10: $rem-space-10;

$em-space-1: 0.5em;
$em-space-2: 1em;
$em-space-3: 1.5em;
$em-space-4: 2em;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 525px;
$breakpoint-xs: 400px;

@media screen and (max-width: $breakpoint-lg) {
  :root {
    --font-size-md: 1.6rem;
  }
}

@media screen and (max-width: $breakpoint-md) {
  :root {
    --ratio: #{$base-size * 0.95};
  }
}

@media screen and (max-width: $breakpoint-sm) {
  :root {
    --ratio: #{$base-size-slow};
    --font-size-md: 1.5rem;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  :root {
    --ratio: #{$base-size-slow * 0.96};
  }
}

/*
-----------
  Aliases
-----------
*/

$background-color-1: $dark-1;
$background-color-2: $dark-2;
